/* nav bar css */
body{
    margin: 0;
}

#img1{
    width: 100%;
    border-radius: 80%;
    box-shadow: 1px 0.4px 10px;
    
}

nav{
    /* margin-top: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;

}

#logimage{
    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logimage, a{
    text-decoration: none;
}

#options{
    display: flex;
    justify-content: space-around;
}

#options_option{
    display: flex;
    justify-content: space-around;
   
}

.options_list, a,a:visited{

    padding: 5px;
    padding-right: 15px;
    text-decoration: none;
    color: white;
    
}


/* body starts */


#home{
    background-color: black;
    width: 100%;
    height: 540px;
    color: white;
}

#home{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

#home_img2{
    width: 300px;
    height: 250px;

}

#img2{
    width: 100%;
}

#home_details > p,h1{
    text-align: center;

}

.home_details_texts {
    text-align: center;
    width: 500px;
    height: 30px;
    background-color: white;
    color: black;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    border-radius: 10px;
    padding-left: 20px;
    
}

.home_details_t{
    margin-right: 10px;
    
}

.home_details_t a{
    color: black;

}








.next{

    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border: 2px solid rgb(202, 199, 199);
    margin-bottom: 30px;
    margin-left: 30px;
    font-weight: bolder;
    border-radius: 5px;
    margin-top: 30px;
}