@media (max-width: 840px) {
    .project1_text{
        font-size: 10px;
    }
    .project2_text{
        font-size: 10px;
        margin-top: 20px;
    }

    .project1_1_text{
        font-size: 15px;
    }
    .project2_1_text{
        font-size: 15px;
    }
}

@media (max-width: 665px) {
    #project1_text3{
        font-size: 8px;
        display: none;
    }
    .project2_text{
        display: none;
        
    }

    .project1_1_text{
        font-size: 10px;
    }
    .project2_1_text{
        font-size: 15px;
    }
}

@media (max-width: 540px) {
    .img3{
        height: 100px;
    }

    .project1{
        height: 500px;
    }
}

.project2_text3{
    font-size: 10px;
    /* background-color: aqua; */
}

@media (max-width: 460px) {
    .projects_divide{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1200px;
        margin-bottom: 20px;

    }
    .img3{
        width: 90%;
        margin-right: 10px;
    }
    #project1{
        height: 100px;
    }


}



#projects{
    width: 100%;
    height: 600px;
    background-color: white;
    border-bottom: 2px solid rgb(202, 199, 199);
}
#projects p{
    margin: 5px;
    /* padding: 10px; */
    margin-left: 50px;
    font-size: 50px;
    display: inline-block;
    

}

.projects_divide{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
#project1:hover{
    width: 40%;
    height: 510px;
    background-color: white;
    box-shadow: 5px 5px 10px;
    border-radius: 10px;
}



#project1{
    width: 40%;
    height: 510px;
    background-color: white;
    /* box-shadow: 5px 5px 10px; */
    border-radius: 10px;
    border: 2px solid rgb(202, 199, 199);
}

.img3{
    width: 95%;
    padding: 10px;
    border-radius: 10px;
}
#project2:hover{
    width: 40%;
    height: 510px;
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}

#project2{
    width: 40%;
    height: 510px;
    background-color: white;
    border-radius: 10px;
    /* box-shadow: 5px 5px 10px; */
    border: 2px solid rgb(202, 199, 199);
}

#img3{
    height: 290px;
    border-radius: 10px;

} 

#project1  p {
    font-size: 15px;
    text-align: start;
    margin: 10px;
}

#project2 p {

    font-size: 15px;
    text-align: start;
    margin: 10px;
}

#home_details > p, h1 {
    text-align: center;
    font-size: 20px;
}