/* skills */
@media (max-width: 780px) {
    .skill_child1{
        width: 50px;
    }
    
    .skill_child1:hover{
        padding: 5px;
        width: 65%;
        box-sizing: border-box;
        box-shadow: 5px 5px 5px;
        border: 5px solid rgb(202, 199, 199);
    }
    #imgset1 img{
        width: 10px;
        /* margin: 30px; */
    }
    .imgset1{
        width: 80px;
        background-color: aqua;
    }
    
    
    
    
    #imgset2 img{
        width: 100px;
        margin: 30px;
        
    }
}


#Skills{
    width: 100%;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Skills > p{
    /* background-color: aqua; */
    display: inline;
    width: 1000px;
    margin-right: 10px;
    font-size: 50px;
    font-weight: bold;
    
}
.skill_child1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 540px;
    /* background-color: rgb(238, 192, 192); */
    border: 2px solid rgb(239, 238, 238);
    border-radius: 10px;
    margin-bottom: 30px;
    box-sizing:content-box;
    
}

.skill_child1:hover{
    padding: 5px;
    width: 95%;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px;
    border: 5px solid rgb(202, 199, 199);
}


#imgset1{
    height: 200px;
    /* width: 100%; */
}


#imgset1 img{
    width: 100px;
    margin: 30px;
    
}




#imgset2 img{
    width: 100px;
    margin: 30px;
    
}